*{
  box-sizing: border-box;
  font-family: Arial;
  font-weight: bold;
}

/*Body centered in the middle as a box */
body{
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/*White canvas with 5px border*/
#myCanvas{
  background-color: #fff;
  border: 5px solid #333;
  border-radius: 10px;
  padding: 00px;
  width: 600px; /*Change this value*/
  height: 500px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/*insert spaces between table columns*/
table{
  border-spacing: 50px;
}

