*{
  box-sizing: border-box;
  font-family: Arial;
  font-weight: bold;
}

/*Body centered in the middle as a box */
body{
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/*White canvas with 5px border*/
#myCanvas{
  background-color: #fff;
  border: 5px solid #333;
  border-radius: 10px;
  padding: 00px;
  width: 800px; /*Change this value*/
  height: 700px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/*insert spaces between table columns*/
table{
  border-spacing: 50px;
}

.button{
  background-color: #0000006c; /* Green */
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }

